.blog-categories {
    background: #f7f8fb;
    border-bottom: 1px solid #e6e9f3;
    overflow: hidden;
    padding: 0 0 0 35px;
}

    .blog-categories p {
        font-variant: small-caps;
        font-size: 25px;
        margin: 15px 35px 15px 0;
        float: left;
        font-weight: 600;
    }

.blog-categories-container {
    overflow: hidden;
}

.blog-categories a.active {
    background: #e9ecf4;
}

.blog-categories a {
    display: block;
    color: #545e6f;
    font-size: 16px;
    float: left;
    padding: 15px 30px;
    text-align: center;
    transition: all .2s ease;
    text-decoration: none;
}

.blog-categories a span {
    display: block;
}

    .blog-categories a:hover {
        background-color: #fff;
    }

img.category-icon {
    width: 36px;
}