<div>
    <div *ngFor="let post of _posts" class="post-card">
        <a [routerLinkActive]="['active']" [routerLink]="['/blog/post', post.id ]" title="{{ post.title }}">
            <div class="post-card-meta">
                <img src="{{ post.category.icon }}" alt="{{ post.category.name }}">
                <p>
                    <span>{{ post.publishedDate | date: 'medium' }}</span>
                    <span *ngIf="post.lastUpdatedDate != undefined && post.lastUpdatedDate != post.publishedDate">Last Updated: {{ post.lastUpdatedDate | date: 'medium' }}</span>
                </p>
            </div>
            <h2 class="post-card__title">
                {{ post.title }}
            </h2>
            <p>
                {{ removeHTMLtags(post.body).substring(0, 50) + '...' }}
            </p>
        </a>
    </div>
    <div *ngIf="_posts == undefined || _posts.length == 0" class="post-card">
        <span class="center">there are no blog posts in this category...</span>
    </div>
</div>
<div *ngIf="_posts != undefined && _posts.length > 0" class="pagination">
    <ul>
        <li id="pagination-prev">
            <span>
                <!--<img src="/img/icons/prev.svg" alt="">-->
                Prev
            </span>
        </li>
        <li class="pagination-item">
            <span id="current-page">1</span>
        </li>
        <li class="pagination-item">
            <a href="/page2/">2</a>
        </li>
        <li id="pagination-next">
            <a class="pagination-button" href="/page2/">
                Next
                <!--<img src="/img/icons/next.svg" alt="">-->
            </a>
        </li>
    </ul>
</div>