.header {
    padding: 30px 0;
    color: #fff;
    background: #3a4250;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
}

.header-profile-pic {
    margin: 20px 0 50px 0;
    height: 50px;
    position: relative;
    padding: 0 0 0 80px;
}

    .header-profile-pic img {
        position: absolute;
        top: 0;
        left: 20px;
        border-radius: 50%;
        height: 50px;
        width: 50px;
    }

    .header-profile-pic p {
        margin: 0;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 600;
    }

    .header-profile-pic span {
        font-size: 13px;
        font-weight: 400;
    }

.nav-link {
    position: relative;
    color: #fff;
    text-decoration: none;
    letter-spacing: .5px;
    display: block;
    padding: 12px 20px;
    font-size: 16px;
    transition: all .2s ease;
    background: #3a4250;
}

    .nav-link:hover {
        color: #fff;
        background: #363d4a;
    }

    .nav-link a {
        color: white;
        font-weight: 600;
    }

    .nav-link a:hover {
        text-decoration: none;
    }

.navbar-links {
    position: absolute;
    bottom: 15px;
    left: 30px;
    right: 30px;
    display: flex;
    align-items: center;
}

    .navbar-links a {
        margin: 0 10px 0 0;
        width: 18px;
        display: inline-block;
    }

    .navbar-links span {
        display: block;
        margin: 5px 0 0;
        font-size: 13px;
        position: absolute;
        bottom: 0;
        right: 0;
    }