.banner {
    background: #3a4250;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 250px;
    right: 0;
    padding: 15px 15px 15px 15px;
    height: 70px;
}

.search {
    position: relative;
}

    .search input {
        width: 100%;
        padding: 8px 15px;
        outline: 0;
        border: 0;
        background: #2f3644;
        color: #fff;
    }