<div class="post">
    <div class="post-header">
        <h1>{{title}}<a [routerLink]="['/blog/' ]">x</a></h1>

        <div class="post-header-detail">
            <img class="post-header-icon" src="{{categoryIcon}}" alt="{{categoryName}} icon">
            {{categoryName}}
        </div>
        <div class="post-header-detail">
            <img class="post-header-icon" src="{{categoryIcon}}" alt="date published icon">
            {{publishedDate | date: 'EEE, d MMMM yyyy'}}
        </div>
    </div>
    <div class="post-body" innerHTML="{{body}}"></div>
</div>
